/* Reset margin and padding for all elements */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Set a consistent font style */
body {
    font-family: Arial, sans-serif;  /* Replace with your desired font */
    line-height: 1.5;
}

/* Remove default styling for lists */
ul, ol {
    list-style: none;
}

/* Anchor tags don't have underlines by default */
a {
    text-decoration: none;
    color: inherit;  /* Inherit text color from parent */
}

/* For form elements */
input, button, textarea, select {
    background: none;
    border: none;
    outline: none;
}

/* Consistent sizing for images */
img {
    max-width: 100%;
    height: auto;
}

/* Normalize the document's box model */
html, body {
    height: 100%;
    margin: 0;
    font-size: 16px;  /* Default font size */
    overflow: hidden;
}

/* Remove any spacing caused by default styles on tables */
table {
    border-collapse: collapse;
}

.container {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

.header {
    grid-column: 2 / 5;
    grid-row: 1 / 2;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-board {
    grid-column: 2 / 5;
    grid-row: 2 / 5;
    background-color: rgb(255, 255, 255);
    border: solid 1px rgb(216, 216, 216);
}

.footer {
    grid-column: 1 / 6;
    grid-row: 5 / 6;
    background-color: rgb(255, 255, 255);
}