/* Reset margin and padding for all elements */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Set a consistent font style */
body {
    font-family: Arial, sans-serif;  /* Replace with your desired font */
    line-height: 1.5;
}

/* Remove default styling for lists */
ul, ol {
    list-style: none;
}

/* Anchor tags don't have underlines by default */
a {
    text-decoration: none;
    color: inherit;  /* Inherit text color from parent */
}

/* For form elements */
input, button, textarea, select {
    background: none;
    border: none;
    outline: none;
}

/* Consistent sizing for images */
img {
    max-width: 100%;
    height: auto;
}

/* Normalize the document's box model */
html, body {
    height: 100%;
    margin: 0;
    font-size: 16px;  /* Default font size */
    overflow: hidden;
}

/* Remove any spacing caused by default styles on tables */
table {
    border-collapse: collapse;
}

.container {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    background-color: black;
}

.header {
    grid-column: 2 / 5;
    grid-row: 1 / 2;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}

#start {
    display: flex;
    align-items: center;
}

.OR {
    margin: 0 4em 0 4em;
}

#X-Start, #O-Start {
    font-size: 2em;
}

.board-container {
    grid-column: 2 / 5;
    grid-row: 2 / 5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-board {
    background-color: rgb(0, 0, 0);
    height: clamp(350px, 50vw, 450px);
    width: clamp(350px, 50vw, 450px);;
    display: none;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.square1, .square2, .square4, .square5 {
    border-right: 1px solid rgb(255, 255, 255);
    border-bottom: 1px solid rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}

.square3, .square6 {
    border-bottom: 1px solid rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}

.square7, .square8 {
    border-right: 1px solid rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}

.square9 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    grid-column: 1 / 6;
    grid-row: 5 / 6;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 5vh 0 0 0;
}

.footer-text {
    font-size: 1.2vh;
}

